{% extends 'base.html.twig' %}

{% block title %}Boutique - Liste des produits{% endblock %}

{% block body %}
<div class="container">

    <header>
        <div class="logo">
            <img src="{{ asset('images/Logo.png') }}" alt="Logo">
            <p>Don't compromise on your look</p>
        </div>
        
        <nav>
            <a href="/">Accueil</a>
            <a href="/products" class="select">Boutique</a>
            <a href="/cart">Panier</a>
            <a href="/logout" class="logout">Se déconnecter</a>
        </nav>
    </header>

<h1>Connexion</h1>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <label for="username">Email :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" required>

    <button type="submit">Se connecter</button>
</form>

    <footer>
        <p><strong>Stubborn</strong> est une entreprise de vente de sweat-shirts.</p>
        <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
    </footer>

</div>
{% endblock %}